# Python
__pycache__/
*.py[cod]
*.pyc
venv/
env/
bin/
lib/
lib64/
include/
pyvenv.cfg
pip-selfcheck.json

# Django  
*.log
db.sqlite3
staticfiles/

# Environment
.env
.env.*
env.yaml
*.env

# Node
node_modules/

# IDE
.vscode/

# OS
.DS_Store

# Docker temp
docker-compose.test.yml

# Backend específico
backend/venv/
backend/env/
backend/bin/
backend/lib/
backend/lib64/
backend/__pycache__/

# tweets jsons
tweets_*.json
